/* UNIVERSAL */
@font-face { font-family: Mercury; src: url('/fonts/mercury.otf') format('opentype'); font-weight: normal; font-style: normal; }
@font-face { font-family: Mercury; src: url('/fonts/mercuryitalic.otf') format('opentype'); font-weight: normal; font-style: italic; }
@font-face { font-family: OpenSans; src: url('../fonts/opensanslight.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: OpenSans; src: url('../fonts/opensansregular.ttf') format('truetype'); font-weight: bold; font-style: normal; }
@font-face { font-family: OpenSans; src: url('../fonts/opensanslightitalic.ttf') format('truetype'); font-weight: normal; font-style: italic; }
@font-face { font-family: Anonymous; src: url('../fonts/anonymouspro.ttf') format('truetype'); font-weight: normal; font-style: normal; }
* { box-sizing: border-box; border: 0; font-size: 1em; margin: 0; padding: 0; }
html { font-size: 16px; }
body {
	background: #FFF;
	color: #000;
	font-family: OpenSans, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.4rem; }
a { color: #4C00FF; text-decoration: none;  }
a:focus, a:hover { color: #4C00FF; text-decoration: none; }
a:visited { color: #9D61D8; text-decoration: none;}
a:active { color: #4C00FF; text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { font-family: Mercury, Times New Roman, serif; font-weight: normal; line-height: 1em; margin: 1em 0 0.25em 0; }
h1 { font-size: 1.75em;}
section h1:first-child { margin-top: 0; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1em; font-weight: bold; }
h5 { font-size: 1em; font-style: italic; }
h6 { font-size: 1em; }
hr {height: 1px;
	background: #FC0;
	color: #FC0;
	margin: 2.8em 0 2.8em 0;
	width: 100%; }
p { margin: 0 0 1.4em 0; }
blockquote {
	color: #001E99;
	border: 1px solid #FC0;
	border-bottom: 0;
	border-top: 0;
	font-family: Mercury, Times New Roman, serif;
	font-size: 1.3em;
	line-height: 1.4em;
	margin: 1.4em auto 1.4em auto;
	padding: 0.3em 1em;
	text-align: center;
	width: 90%; }
blockquote p { margin: 0; }
code { font-family: Anonymous, monospace; }
dl, ol, ul { margin: 0 0 1.4em 2em; }
.fs80 { font-size: 0.8em; line-height: 1.4em;}
.fs90 { font-size: 0.9em; line-height: 1.4em;}
.bb { padding-bottom: 0.2em; border-bottom: 1px solid #0FC; }
.bt { border-top: 1px solid #0FC; }
.bold { font-weight: bold; }
.center { text-align: center; }
.hidden { display: none; }
.italic { font-style: italic; }
.mb1p5 { margin-bottom: 1.5rem; }
.mb2 { margin-bottom: 2rem; }
.mb3 { margin-bottom: 3rem; }
.mt2 { margin-top: 2rem; }
.mono { font-family: Anonymous, monospace; }
.right { text-align: right; }
.serif { font-family: Mercury, Times New Roman, serif; }
/* SKELETON */
article { margin: 0 0 1.4em 0; }
header, main, nav, section, article { width: 100%; }
footer { clear: both; overflow: hidden; }
section { overflow: auto; }
#error404 { position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 96%;}
#erroricon { margin: 0 2em; }
#errormsg { font-size: 1.75em; line-height: 1em; }
#flag, #author { clear: both; }
#mainframe { margin: 0 auto 1rem auto; }
/* flex container */
.aligncenter { align-items: center; } /* vertical */
.displayinflex { display: inline-flex; }
.displayflex {	display: flex; }
.flexwrap { flex-wrap: wrap; }
.justifycenter { justify-content: center; }
.justifystart { justify-content: flex-start; }
.justifybetween { justify-content: space-between; } /* horizontal */
/* flex item */
.flex { flex: 0 1 auto; }
/* AESTHETIC */
/* name and description */
#flag a, #flag a:visited, #flag a:hover, #flag a:visited:hover, #flag a:focus, #flag a:visited:focus { color: #000; }
#flag h1 {
	font-size: 3.5rem;
	font-style: italic;
	font-weight: normal;
	line-height: 0.85em;
	text-transform: uppercase;
	width: 100%; }
/* content page format */
#flag #headline { line-height: 1em; }
#headline .deck { font-size: 0.43em; font-style: normal; line-height: 1em; }
.deck { display: block; }
/* navigation */
nav a, nav a:visited, nav a:hover, nav a:visited:hover, nav a:focus, nav a:visited:focus, nav a:active { color: #000; }
nav ul { list-style-type: none; margin: 0; }
nav li { display: inline-flex; margin: 0 0.75em 0 0.75em; }
nav .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	width: 100%; }
#marker {
	color: #0FC;
	font-family: Arial, sans-serif;
	font-size: 2.5em;
	line-height: 1rem;
	margin: 0;
	vertical-align: middle;
	width: 0; }
/* avatars */ 
#avatar img, #author img { border-radius: 50%; }
#author img { float: left; height: 110px; margin: 0 1.5em 0.75em 0; width: 110px; }
/* content lists */
.date { background: #F7F7F7; box-shadow: 1px 1px 0px 0px #0FC; font-weight: 500; padding: 3px 5px 3px 3px; }
.date, .title { margin-right: 0.25em; }
/* content */
article img { max-width: 100%; height: auto; }
header.post { border-bottom: 1px solid #0FC; }
.title h1 { font-size: 2em; line-height: 1em; margin-bottom: 0.1em; }
/* inset blockquotes */
.pullleft ,.pullright {
	border: 1px solid #FC0;
	color: #000;
	font-size: 2em;
	font-style: italic;
	line-height: 1em;
	padding: 0.75em 0.3em;
	text-align: center; }
/* footnotes */
.footnote { color: #8A8A8A; font-family: Mercury, Times New Roman, serif; font-size: 0.9em; }
.footnotes hr {
	border: none;
	height: 1px;
	background: #CFCFCF;
	color: #CFCFCF;
	margin: 2.4em 0 0.4em 0;
	width: 100%; }
.footnote-return { font-size: 0.75em; }
/* tags */
.tags {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0; }
.tags li { flex: 0 1 auto; margin: 0; padding: 3px 5px; }
.tags a { padding: 0.1em 0.6em; }
/* end */
#end a, #end a:visited { color: #000; line-height: 1em; vertical-align: middle; }
/* fontawesome links */
#end a:focus, #end a:hover, #end a:active { color: #4C00FF; }
.license { font-size: 1.5em; }
/* RESPONSIVE STYLING */
/* tablets & phablets */
@media only screen and (max-width: 569px) { /* 569 - iphone SE */
	blockquote { margin-right: 0; padding-right: 0; border-right: 0; width: 100%; }
	nav .ellipsis { margin: 1.5em 0 0 0; }
	nav .loc { width: 94%; }
 	nav ul { text-align: center; }
	#mainframe { width: 90%; }
 	#marker { display: none; }
 	#end div { flex: 0 1 auto; text-align: center; vertical-align: middle; width: 100%; }
	.order1 { order: 1; }
	.order2 { order: 2; }
	.order3 { order: 3; }
	.license { font-size: 1em; }
	.social { font-size: 2em; margin-bottom: 1em; } }
/* half small tablet / phablet screens */
@media only screen and (max-width: 439px) { /* 439 - split vertical tablet */
	#avatar img {
	 	float: none;
 		margin: 0 0 1.4em 0;
 		max-width: 288px;
 		padding: 0;
 		width: 100%; }
	#avatar, #flag h1 { text-align: center; }
	.deck { font-size: 0.8em; line-height: 0.85em; }
	#headline .deck { font-size: 0.42em; font-style: normal; line-height: 1em; } }
/* various small tablet split screens */
@media only screen and (min-width: 440px) and (max-width: 569px) {
	#avatar img { float: left; margin: 0 5% 1em 0; max-width: 288px; width: 35%; }
	.pullleft, .pullright { margin: 0em auto 0em auto; width: 35%; }
	.pullleft { border: 0; box-shadow: 1px -1px 0 0 #FC0; float: left; margin: 0.3em 0.5em 0.3em 0; }
	.pullright { border: 0; box-shadow: -1px -1px 0 0 #FC0; float: right; margin: 0.3em 0 0.3em 0.5em; } }
/* small tablet full screen & smaller desktop windows */
@media only screen and (min-width: 570px) {
	nav li { margin: 0 1.4em 0 0; }
	nav ul { text-align: left; }
	nav .ellipsis { margin-top: 1.5em 0 0 0; }
	nav .loc { width: 70%; } 
	#avatar img { float: left; margin: 0 5% 1em 0; max-width: 288px; width: 45%; }
	#flag h1 { text-align: left; }
	#mainframe { max-width: 800px; width: 90%; }
	#marker { float: left; position: relative; left: -1.5em; }
	.pullleft, .pullright { width: 40%; }
	.pullleft { border: 0; box-shadow: 1px -1px 0 0 #FC0; float: left; margin: 0.3em 0.5em 0.3em 0; }
	.pullright { border: 0; box-shadow: -1px -1px 0 0 #FC0; float: right; margin: 0.3em 0 0.3em 0.5em; }
	.social { font-size: 1.5em; } }
/* large tablet full screen & larger desktop windows */
@media only screen and (min-width: 961px) {
	nav .loc { width: 78%; }
	#mainframe { width: 800px; } }
@media (hover:hover) {
	a, a:active a:focus, a:hover, a:visited { display: inline-block; position: relative; text-decoration: none; }
	a:before { background: #4C00FF; text-decoration: none;}
	a:visited:before { background: #9D61D8; }
	a:before, a:visited:before {
		content: '';
		height: 0;
		position: absolute;
			bottom: -1px;
			left: 50%;
		text-decoration: none;
		transform: translateX(-50%);
		transition: width 0.3s ease-in-out;
		width: 0; }
	a:hover:before, a:focus:before { height: 1px; width: 100%; text-decoration: none;}
	#flag a:before, #flag a:visited:before, #flag a:hover:before, #flag a:focus:before {
		background: none;
		content: initial;
		display: inline;
		transform: none;
		transition: none; }
	nav a:before, nav a:visited:before {
		background: #0FC; 
		content: '';
		height: 2px;
		position: absolute;
			bottom: -0.7em;
			left: 50%;
		transform: translateX(-50%);
		transition: width 0.3s ease-in-out;
		width: 100%; }
	nav a:hover:before, nav a:focus:before, nav a:active:before { width: 0; }
	.footnotes a:before, .footnotes a:hover:before, .footnotes a:focus:before, .footnote-ref a:before, .footnote-ref a:hover:before, .footnote-ref a:focus:before {
		background: none;
		content: initial;
		display: inline;
		position: initial;
		transform: none;
		transition: none; }
	.tags a:after, .tags a:hover:before, .tags a:focus:before { background: #4C00FF; }
	.tags a:visited:after, .tags a:visited:hover:before, .tags a:visited:focus:before { background: #9D61D8; }
	.tags a:after {
		content: '';
		height: 0;
		position: absolute;
			right: 0;
			top: 0;
		width: 1px;
		transition: height 0.3s;
		transform: none; }
	.tags a:before {
		content: '';
		height: 0;
		position: absolute;
			left: 0;
			top: 0;
		transition: top 0.3s;
		transform: none;
		width: 100%; }
	.tags a:hover:before, .tags a:focus:before { height: 1px; top: 100%; }
	.tags a:hover:after, .tags a:focus:after { height: 100%; }
	#end a:before, #end a:hover:before, #end a:focus:before {
		background: none;
		color: #000;
		content: initial;
		display: inline-flex;
		line-height: 1em;
		position: initial;
		transform: none;
		transition: color 0.2s ease-in-out;
		vertical-align: middle; } }